@import "modules/all";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display definitions
======================================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Lists 
======================================================= */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links 
======================================================= */

a {
  color: #ccc;
  text-decoration: none;
}

a.btn {
	font-size:$font-size-regular;
  width: 200px;
  height: 40px;
  background: rgba(255,255,255, 1);
  color:rgba(44,62,80, 1);
  -webkit-border-radius: 10px;
  	 -moz-border-radius: 10px;
  				border-radius: 10px;
  border:1px solid rgba(44,62,80, 1);;
  padding: 4px 6px 20px;
  text-align: center;
  display: inline-block;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

a.btn:hover {
	background: rgba(255,255,255, 1);
	color:rgba(44,62,80, 1);
}

.ux-core {
	padding:10px;
}

.ux-core li {
	font-size:14px;
  width: 30px;
  height: 30px;
  color:#fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid #fff;
  padding: 6px 0 0 2px;
  margin-left: 2px;
  text-align: center;
  display: inline-block;
  transition-property: background;
  transition-duration: .7s;
  transition-timing-function: linear;
}

footer {
  background:rgba(0,0,0, 1);
  height:220px;
  margin-top: 40px;
}

.contact-info {
  text-align: center;
  padding:40px 0 20px 0;
  color:$white;
}

.proto {
	border:1px solid rgba(0,0,0, .4);
	// padding:4px;
	height:200px;
}