@import "modules/all";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display definitions
======================================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Lists 
======================================================= */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links 
======================================================= */

a {
  color: #ccc;
  text-decoration: none;
}

a.btn {
	font-size:14px;
  width: 70px;
  height: 20px;
  color:#fff;
  -webkit-border-radius: 3px;
  	 -moz-border-radius: 3px;
  				border-radius: 3px;
  border:1px solid rgba(255,255,255, 1);
  padding: 4px 6px 20px;
  text-align: center;
  display: inline-block;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

a.btn:hover {
	background: rgba(255,255,255, 1);
	color:rgba(44,62,80, 1);
}

.project-list li {
	display:inline-block;
	width:364px;
	padding:18px;
}

.project a {
	display:block;
	height: 100%;
  width: 100%;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.project a:hover {
	background: rgba(0,0,0, 1);
}

.project-info {
	padding:50px 0 0 0;
}

.project-info a {
	margin:45px 0 0 170px;
}

.project-list h2, .about h2 {
	text-align:center;
	font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
  color:rgba(0,0,0, .8);
  font-size: 42px;
  font-weight: 100;
  letter-spacing: .01em;
  padding:0px 0 30px;
  margin-top:60px;
}

.project-overlay {
	background:rgba(44,62,80, .8);
	height:300px;
}

.project-title {
	color:rgba(255,255,255, 1);
	padding:10px 0 0 0;
	font-family:$font-family-sans;
	font-weight:$font-weight-light;
	font-size:$font-size-x-large;
	text-align:center;
}

.project-description {
	color:rgba(255,255,255, 1);
	font-family:$font-family-sans;
	font-size:$font-size-small;
	text-align:center;
}

.page-title {
  margin-top: 100px;
  padding-bottom:20px;
  text-align: center;
  font-weight: $font-weight-light;
}

.page-title span {
  display: block;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

.role {
  display: block;
  margin:0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
}

.role span {
  text-transform: none;
  font-weight: $font-weight-light;
}

.featured-text {
  line-height: 1.5;
  text-align:center;
  font-size: $font-size-regular;
  border-bottom:1px solid rgba(224,224,224,1);
  border-top:1px solid rgba(224,224,224,1);
  padding:30px 0 30px 0;
  max-width: 700px;
  margin: 0 auto;
}

.hz-line {
  /*border-top:1px solid #ccc;*/
  border-bottom:1px solid #ccc;
  margin:10px auto;
  padding:10px;
  width:200px;
}

.work-text {
  max-width: 800px;
  margin:0 auto;
  font-size: $font-size-large;
  line-height:1.5;
  letter-spacing: .01rem;
}

.work-image {
  display: block;
  margin:60px auto 20px auto;
  max-width: 100%;
  border:1px solid #ccc;
}

.paging {
  background:rgba(0,0,0, .1);
  height:300px;
  margin-top: 80px;
}

a.nav-growpop {
  // padding:20px;
  // border: 1px solid red;
}

.nav-growpop div {
  margin-top:40px;
  padding: 20px;
  width: 320px;
  height: 144px;
  border:1px solid rgba(0,0,0, .1);
  background:rgba(255,255,255, 1);
}

div .paging-next {
  float:right;
}

div .paging-prev {
  float:left;
}

.nav-growpop span {
display: block;
padding-bottom: 5px;
border-bottom: 1px solid #ddd;
color: #cdcdcd;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
font-size: 0.7em;
line-height: 1.2;
}

.nav-growpop h3 {
margin: 0;
padding: 8px 0 10px;
color: #818181;
font-weight: 300;
font-size: 1.325em;
line-height: 1.2;
}

.nav-growpop div p {
margin: 0;
color: #b24e44;
font-style: italic;
font-size: 75%;
font-family: "Lucida Bright", Georgia, serif;
}



// .paging {
//   margin:40px 0 20px 0;
//   text-align:center;
// }

.previous, .next {
  border:1px solid #999;
  padding:10px;
}

.next {
  margin-left: 6px;
}

.ux-core {
	padding:10px;
}

.ux-core li {
	font-size:14px;
  width: 30px;
  height: 30px;
  color:#fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid #fff;
  padding: 6px 0 0 2px;
  margin-left: 2px;
  text-align: center;
  display: inline-block;
  transition-property: background;
  transition-duration: .7s;
  transition-timing-function: linear;
}

footer {
  background:rgba(0,0,0, 1);
  height:200px;
}

.proto {
	border:1px solid rgba(0,0,0, .4);
	// padding:4px;
	height:200px;
}