@import "modules/all";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display definitions
======================================================= */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Lists 
======================================================= */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links 
======================================================= */

a {
  color: #ccc;
  text-decoration: none;
}

a.btn {
	font-size:$font-size-regular;
  width: 200px;
  height: 40px;
  background: rgba(255,255,255, 1);
  color:rgba(44,62,80, 1);
  -webkit-border-radius: 10px;
  	 -moz-border-radius: 10px;
  				border-radius: 10px;
  border:1px solid rgba(44,62,80, 1);;
  padding: 4px 6px 20px;
  text-align: center;
  display: inline-block;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

a.btn:hover {
	background: rgba(255,255,255, 1);
	color:rgba(44,62,80, 1);
}



.page-header {
  background:$base-color;
  padding:10px 0 40px;
  border-bottom:1px solid rgba(44,62,80, .1);
}

.page-title {
  margin-top: 100px;
  padding-bottom:20px;
  text-align: center;
  font-weight: $font-weight-light;
  color:$white;
}

.page-title span {
  display: block;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

.role {
  display: block;
  margin:0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  color:$white;
}

.featured-text {
  line-height: 1.5;
  text-align:center;
  font-size: $font-size-regular;
  border-bottom:1px solid rgba(224,224,224,1);
  border-top:1px solid rgba(224,224,224,1);
  padding:30px 0 30px 0;
  max-width: 700px;
  margin: 40px auto;
}

.hz-line {
  /*border-top:1px solid #ccc;*/
  border-bottom:1px solid #ccc;
  margin:10px auto;
  padding:10px;
  width:200px;
}

.work-text {
  max-width: 800px;
  margin:0 auto;
  font-size: $font-size-large;
  line-height:1.5;
  letter-spacing: .01rem;
}

.work-image {
  display: block;
  margin:60px auto 20px auto;
  max-width: 100%;
  border:1px solid #ccc;
}

.paging div {
  margin-top:40px ;
  padding: 20px;
  width: 220px;
  height: 100px;
  border:1px solid rgba(0,0,0, .1);
  background:rgba(255,255,255, 1);
  display: inline-block;
}

.paging-prev {
  float:right;
}

.paging-next, .paging-prev {
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.paging-next:hover, .paging-prev:hover {
  // float:right;
  background:rgba(44,62,80, .8);
}

.paging span {
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  color: #cdcdcd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.2;
}

.paging h3 {
  margin:0;
  padding: 12px 0 10px;
  color: #818181;
  font-weight: 300;
  font-size: 1.325em;
  line-height: 1.2;
}


.page-header-about {
  background:$base-color;
  height:190px;
  border-bottom:1px solid rgba(44,62,80, .1);
}

.about h2 {
  text-align:center;
  font-family: "Helvetica Neue", Helvetica, "pragmatica-web", Arial, sans-serif;
  color:rgba(0,0,0, .8);
  font-size: 42px;
  font-weight: 100;
  letter-spacing: .01em;
  padding:10px 0 30px;
  margin-top:100px;
}

.long-text {
  margin:20px auto;
  max-width: 700px;
  line-height: 1.5;
  letter-spacing: .01rem;
  font-size: $font-size-large;
}

.about-hero {
  background: url("../images/about-hero1.png") fixed no-repeat top center;
  width: 100%;
  height:12em;
}

.profile {
  margin:100px auto 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border:6px solid #fff;
  background: url(../images/profile-circle.png) no-repeat center center / cover;
  }

.ux-core {
	padding:10px;
}

.ux-core li {
	font-size:14px;
  width: 30px;
  height: 30px;
  color:#fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid #fff;
  padding: 6px 0 0 2px;
  margin-left: 2px;
  text-align: center;
  display: inline-block;
  transition-property: background;
  transition-duration: .7s;
  transition-timing-function: linear;
}

footer {
  background:rgba(0,0,0, 1);
  height:220px;
  margin-top: 40px;
}

.contact-info {
  text-align: center;
  padding:40px 0 20px 0;
  color:$white;
}

.proto {
	border:1px solid rgba(0,0,0, .4);
	// padding:4px;
	height:200px;
}