hr.thin {
	margin-top:60px;
  height: 1px;
	border: 0;
	color: rgba(255,255,255, 1);
	background-color: rgba(255,255,255, 1);
	width: 60%;
} 

.hero {
  background: url("../images/background1.png") fixed no-repeat center center / cover;
  width: 100%;
  height: 45em;
}

.about-hero {
  background: url("../images/about-hero1.png") fixed no-repeat top center;
  width: 100%;
  height: 35em;
}

.social {
  text-align:center;
	margin:0 auto;
}

.social-label {
  font-size:$font-size-xx-large;
  width: 60px;
  height: 60px;
  color:$white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border:1px solid $white;
  padding: 10px 2px 0 5px;
  margin-left: 8px;
  text-align: center;
  display: inline-block;
  transition-property: background;
  transition-duration: .7s;
  transition-timing-function: linear;
}

a.social-tw {
  // background: rgba(64,153,255, 0.5);
}

a:hover.social-tw {
  // background: rgba(64,153,255, 1);
  // background: rgba(64,153,255, 0.5);
  background: rgba(255,255,255, 1);
  color:rgba(44,62,80, 1);
}

a.social-ln {
  // background: rgba(0, 123, 182, 0.5);
}

a:hover.social-ln {
  // background: rgba(0, 123, 182, 1);
  // background: rgba(0, 123, 182, 0.5);
  background: rgba(255,255,255, 1);
  color:rgba(44,62,80, 1);
}

.tagline {
	margin:100px auto;
	width:900px;
}

.tagline h1 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
	// font-family: $font-family-sans;
  color:rgba(255,255,255, 1);
  font-size: 68px;
  line-height: 74px;
  font-weight: $font-weight-regular;
  letter-spacing: -0.04em;
  padding-top:60px;
  text-align: center;
}

.tagline p {
	font-family: $font-family-sans;
  color:rgba($white, 1);
  font-size: $font-size-x-large;
  font-weight: 200;
  text-align: center;
  margin-top:60px;
}