.project-list-paging {
	margin:60px auto;
}

.project-list-paging ul {
	text-align:center;
}

.project-list-paging li {
	display:inline-block;
	width:206px;
	padding:0;
}

.project-overlay-paging {
  // background:rgba(44,62,80, .9);
  background:rgba(44,62,80, .9) url("../images/background-pattern.gif");
  opacity: .95;
  height:300px;
  width:206px;
  height:160px;
}

.project-info-paging {
	padding:40px 0 0 0;
}