.page-header {
  // background:$base-color;
  background: url("../images/background-pattern.gif");
  padding:10px 0 40px;
  border-bottom:1px solid rgba(44,62,80, .1);
}

.page-title {
  margin-top: 100px;
  padding-bottom:20px;
  text-align: center;
  font-weight: $font-weight-light;
  color:$white;
}

.page-title span {
  display: block;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
}

.role {
  display: block;
  margin:0 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  color:$white;
}

.featured-text {
  line-height: 1.5;
  text-align:center;
  font-size: $font-size-regular;
  border-bottom:1px solid rgba(224,224,224,1);
  border-top:1px solid rgba(224,224,224,1);
  padding:30px 0 30px 0;
  max-width: 700px;
  margin: 40px auto;
}

.hz-line {
  /*border-top:1px solid #ccc;*/
  border-bottom:1px solid #ccc;
  margin:10px auto;
  padding:10px;
  width:200px;
}

.work-text {
  max-width: 800px;
  margin:0 auto;
  font-size: $font-size-large;
  line-height:1.5;
  letter-spacing: .01rem;
}

.work-image {
  display: block;
  margin:60px auto 20px auto;
  max-width: 100%;
  border:1px solid #ccc;
}

.paging div {
  margin-top:40px ;
  padding: 20px;
  width: 220px;
  height: 100px;
  border:1px solid rgba(0,0,0, .1);
  background:rgba(255,255,255, 1);
  display: inline-block;
}

.paging-prev {
  float:right;
}

.paging-next, .paging-prev {
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: linear;
}

.paging-next:hover, .paging-prev:hover {
  // float:right;
  background:rgba(44,62,80, .8);
}

.paging span {
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  color: #cdcdcd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.2;
}

.paging h3 {
  margin:0;
  padding: 12px 0 10px;
  color: #818181;
  font-weight: 300;
  font-size: 1.325em;
  line-height: 1.2;
}